<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Biblical Life Words</title>
    <link rel="icon" type="image/svg+xml" th:href="@{/bible.svg}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <section class="hero">
      <div class="container hero-body has-text-centered">
        <h1 class="title" style="color: yellow;">Biblical Life Words</h1>
        <h2 class="subtitle" style="color: light-blue;">Generator that returns randomly selected life giving words from the Bible.</h2>
      </div>
    </section>
    <div class="block container verse-details" th:fragment="verse-details">
      <article class="message is-info has-text-centered">
        <div class="message-header">
          <span class="tag" style="color: yellow;">English Standard Version</span>
          <p th:text="${book} +' '+ ${chapter} + ':' + ${verse}"></p>
          <button class="button is-outlined is-small"
                  hx-get="/fetchNewVerse"
                  hx-target=".verse-details"
                  hx-swap="outerHTML">
            Get a new verse
          </button>
        </div>
        <div class="message-body" th:text="${text}"></div>
      </article>
    </div>
    <footer class="has-text-centered">
      <div class="field is-grouped is-grouped-centered buttons are-small">
        <p class="control">
          <a
                  class="button"
                  href="http://ethanflores.me"
                  target="_blank"
                  rel="noopener noreferrer"
          >Made by EJF</a>
        </p>
        <p class="control">
          <a
                  class="button"
                  href="https://esv.org"
                  target="_blank"
                  rel="noopener noreferrer"
          >esv.org</a>
        </p>
        <p class="control">
          <button class="button"
                  hx-get="/modal/copyright"
                  hx-target="#copyright-modal"
                  hx-swap="outerHTML">
            ESV Copyright
          </button>
          <div class="modal" id="copyright-modal">
            <div class="modal-background"
                 hx-patch="/modal/close"
                 hx-target="#copyright-modal"
                 hx-swap="outerHTML"></div>
            <div class="modal-content">
              <div class="box">
              <p>
                Scripture quotations are from the ESV® Bible (The Holy Bible, English Standard Version®), © 2001 by Crossway, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. The ESV text may not be quoted in any publication made available to the public by a Creative Commons license. The ESV may not be translated into any other language.
                Users may not copy or download more than 500 verses of the ESV Bible or more than one half of any book of the ESV Bible.
                  Scripture quotations marked "ESV" are from the ESV® Bible (The Holy Bible, English Standard Version®), © 2001 by Crossway, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. The ESV text may not be quoted in any publication made available to the public by a Creative Commons license. The ESV may not be translated into any other language.
                Unless otherwise indicated, all Scripture quotations are from the ESV® Bible (The Holy Bible, English Standard Version®), © 2001 by Crossway, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. The ESV text may not be quoted in any publication made available to the public by a Creative Commons license. The ESV may not be translated into any other language.
              </p>
            </div>
          </div>
            <button class="modal-close is-large"
                    aria-label="close"
                    hx-patch="/modal/close"
                    hx-target="#copyright-modal"
                    hx-swap="outerHTML"></button>
          </div>
      </div>
    </footer>
  </body>
</html>